@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src: url('./PressStart2P-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('./Inter-Variable.woff2') format('woff2');
}
